extends layout

block content
 h2= title 
 - var brands = results
      
 div(class='row')
    div(class='container-fluid')
        div(class='row')
            each x,i in brands 
                div(class="col-sm-2" onclick="buy("+i+")") #{x.brand}

 script.
    function buy(num){
        alert(`You purchased item ${num}`);
    }