extends layout 
 
block content 
  h1= title  
  if (toShow == null) 
    h2 No instance to update
  else 
  - let giraffeid = toShow._id 
  - let giraffebrand = toShow.brand 
  - let giraffecost = toShow.cost 
  - let giraffesize = toShow.size    
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{giraffeid} 
  - let actionid = "/resource/giraffes/" + giraffeid 
 
  form(id='giraffeForm', action=actionid, method="PUT") 
    div.form-group 
        label.giraffeAttr(for='brand') giraffe type 
        input#brand(type='text', name='brand',value= giraffebrand) 
    div.form-group 
        label.giraffeAttr(for='size') giraffe size 
        input#size(type='text', name='size',value= giraffesize) 
    div.form-group 
        label.giraffeAttr(for='cost') giraffe cost 
        input#cost(type='number', name='cost',value= giraffecost) 
    input(type="submit") 
 
  script. 
    document.forms['giraffeForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 